/*
Animations
*/

@keyframes flyIn{
  0%{
    transform: rotateX(80deg) scale(.7);
    -webkit-transform: rotateX(80deg) scale(.7);
    -moz-transform: rotateX(80deg) scale(.7);
    -ms-transform: rotateX(80deg) scale(.7);
  }
  100%{
    transform: rotateX(0deg) scale(1);
    -webkit-transform: rotateX(0deg) scale(1);
    -moz-transform: rotateX(0deg) scale(1);
    -ms-transform: rotateX(0deg) scale(1);
  }
}

@keyframes bob{
  0%{
    transform: translateY(0px);
  }
  50%{
    transform: translateY(20px);
  }
  100%{
    transform: translateY(0px);
  }
}

@keyframes pageStack{
  0%{
    background: #f0f0f0;
    box-shadow: 3px 3px 0 #ddd;
  }
  33%{
    background: #f5f5f5;
    box-shadow: 3px 3px 0 #ddd, 6px 6px 0 #ccc;
  }
  66%{
    background: #fafafa;
    box-shadow: 3px 3px 0 #ddd, 6px 6px 0 #ccc, 9px 9px 0 #bbb;
  }
  100%{
    background: white;
    box-shadow: 3px 3px 0 #ddd, 6px 6px 0 #ccc, 9px 9px 0 #bbb, 12px 12px 0 #aaa;
  }
}

.animatedContainer{
  perspective: 3000px;
  -webkit-perspective: 3000px;
  -moz-perspective: 3000px;
  -ms-perspective: 3000px;
}

.animated{
  animation-name: flyIn;
  animation-duration: .5s;
}

#booksButton:hover{
  animation-name: pageStack;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}

/*
Animated arrow indicator
*/

#arrowIndicator{
  position: absolute;
  animation-name: bob;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  width: 40px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

body{
  background: linear-gradient(to right,#00ba8a,#afe3d0 ,#afe3d0 60%);
  padding-bottom: 20px;
  position: relative;
}

/* Start Popup */
.popup-closed{
  display: none;
  opacity: 0;
}
.popup-open{
  display: flex;
  opacity: 1;
}
.popup svg.fa-times-circle:hover{
  color: #f00;
}
.popup label, .popup input {
  display: block;
}
/* End Popup */

#faceContainer{
  height:205px;
  width:256px;
  border-right: 10px solid #00ba8a;
  border-bottom: 10px solid #00ba8a;
  border-radius: 0 0 210px 0;
}

#face{
  width:256px;
  transform: translateY(-20px);
}

.title-description{
  text-align: center;
}
#name{
  margin: -115px 0px -37px 0;
  text-align: center;
  font-size: 90px;
  letter-spacing: 6px;
  color:#00ba8a;
  text-shadow: 2px 2px 2px black;
  font-family: "Francois One", Helvetica, sans-serif;
}

#navBar{
  width:100%;
  background-color:#002e2e;
}
#navBar ul{
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
}
#navBar a{
  width: 40%;
}
#navBar li{
  height:70px;
  color:white;
  text-decoration: none;
  text-align:center;
  line-height: 70px;
  transition: background-color .5s, border-bottom .5s;
  -webkit-transition: background-color .5s, border-bottom .5s;
  -moz-transition: background-color .5s, border-bottom .5s;
  -ms-transition: background-color .5s, border-bottom .5s;
  border-bottom: solid #002e2e;
}
#navBar li:hover{
  background-color: #9f9;
  cursor:pointer;
  border-bottom: solid #9f9;
  color: #002e2e;
  font-weight: bold;
}

.window{
  visibility: hidden;
}
.window header{
  color:#00cb9b;
  text-shadow: 2px 2px 2px #232;
  font-size:30px;
  font-family: "Francois One", Helvetica, sans-serif;
  letter-spacing: 6px;
}

.heading-font{
  font-family: "Francois One", Helvetica, sans-serif;
}

.rightSide{
  position: relative;
  margin-top: 10px;
  right:-15%;
}
.rightSide header{
  text-align: right;
  transform: translateX(-30px);
}
.leftSide{
  margin-top: 10px
}

.box-container{
  text-indent: 5%;
  padding: 30px;
  margin: 4%;
  width:70%;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  background: linear-gradient(175deg,#466451bb 75%,#343);
  color:#ddd;
  border-radius: 9px;
  text-align: justify;
  box-shadow:10px 10px 40px #343;
}
.box-container:first-of-type{
  margin-top: 150px;
}
p{
  font-size: 1.1em;
  text-indent: 2%;
}

#icons{
  position: absolute;
  right:1px;
  top:10px;
}
.link{
  width:50px;
  height:50px;
  margin:10px 45px 0px 45px;
}

#blogLink{
  height:70px;
  width:240px;
  position: absolute;
  right:0px;
  background-color:#002e2e;
  top:110px;
  font-size:30px;
  font-family: "Francois One", Helvetica, sans-serif;
  color:white;
  padding-bottom: 20px;
  transition: background-color .5s;
  padding-left: 7px;
}
#blogLink:hover{
  background-color: #0da;
}
#pencilIcon{
  height:60px;
  width:60px;
  filter:invert(1);
  position: relative;
  top:15px;
}

.codeBox{
  border-radius:25px;
  background-color:#005aaa;
  color: white;
  font-weight:bold;
  padding:34px 20px 34px 20px;
  margin-right: 15px;
  width:100px;
  text-align: center;
  text-indent: 0px;
}
.codeBox:hover{
  background-color: #99f;
  color:#94d;
}

.projectBox{
  border-radius:25px;
  background-color:#00aa5a;
  color: white;
  font-weight:bold;
  padding:20px;
  width:100px;
  text-align: center;
  text-indent: 0px;
}
.projectBox:hover{
  background-color: #9f9;
  color:#49d;
}
a{
  text-decoration: none;
}

.projectFrame{
  text-align: center;
  margin: 4% auto;
  position: relative;
}

#contacts{
  text-align: center;
  margin:  0 auto 4% auto;
}
#emailBox{
  padding:20px;
  width:100%;
  border-bottom: solid black;
  position: relative;
  left:-20px;
  text-align: center;
}

#scrollUpBtn{
  width:100%;
  height:100px;
  line-height: 100px;
  margin:auto;
  display: block;
  border:none;
  font-size: 40px;
  transform: translateY(80px);
  font-family: "Francois One", Helvetica, sans-serif;
  background-color: #005550;
  transition: background-color .5s;
  color:white;
}
#scrollUpBtn:hover{
    background-color: #0da;
    cursor: pointer;
}

@media only screen and (max-width:1005px){
  #name{
    margin: 0 0 -25px 0;
  }
  .title-description h2{
    font-size: 1.3em;
  }
}
@media only screen and (max-width:900px){
  #name{
    font-size: 70px;
  }
  .link{
    height:40px;
    width:40px;
    margin:10px;
  }
}
@media only screen and (max-width:768px){
  #faceContainer{
    width:175px;
    height:190px;
  }

  #name{
    margin-top: 30px;
    font-size: 50px;
    white-space: nowrap;
  }

  #blogLink{
    width:160px;
    height:40px;
    font-size: 20px;
  }
  #pencilIcon{
    width:40px;
    height:40px;
    top: 10px;
  }
  .link{
    height:30px;
    width:30px;
    margin:10px;
  }
  .box-container{
    width:80%;
    margin: 4% auto;
    font-size:16px;
    text-align: left;
  }
  .rightSide{
    right:0px;
  }
  .projectFrame{
    margin-bottom: 20px;
  }
  .codeBox{
    padding: 20px;
  }
}


@media only screen and (max-width:540px){
  .rightSide header{
    text-align: left;
    transform: translateX(0px);
  }
  #booksButton{
    font-size: 21px;
    margin-bottom:0;
  }
}

@media only screen and (max-width:480px){
  #email{
    transform: translateX(-10%) scale(.7);
  }
  .contactImage{
    transform: scale(.7);
  }
}

@media only screen and (max-width:390px){

  #faceContainer{
    height:130px;
    width:120px;
  }

  #name{
    font-size: 40px;
  }

  .link{
    width:25px;
    height:25px;
    margin:7px;
  }

  #blogLink{
    width:140px;
    top:95px;
  }

  #email{
    transform: translateX(-18%) scale(.7);
  }
}

@media only screen and (max-width:350px){
  .contactImage{
    transform: translateX(-10%) scale(.7);
  }
  #contacts a{
    display: block;
    width:0;
  }
}
