html{
	position: relative;
}

body{
	margin:0;
	left:0;
}

header{
	width:100%;
	height:150px;
	color:white;
	border-bottom: solid #000 20px;
}

#logo,h1{
	display:inline-block;
}

#logo{
	height: 150px;
	width:150px;
	background-repeat: no-repeat;
	background-size:contain;
	margin-right:10px;
}

#title{
	position: relative;
	top:-30px;
	margin-left: 30px;
	letter-spacing: 4px;
	font-size: 60px;
	transform: translateY(-15px);
	white-space: nowrap;
	z-index: 11;
}

#siteDesc{
	font-size: 50px;
	position: absolute;
	right: 100px;
	font-style: italic;
	top :95px;
}

#fixed_utilities{
	position: fixed;
	top:0;
	right:0;
	display: flex;
    min-width: 100px;
    justify-content: space-around;
    align-items: center;
	font-family: arial;
	color: white;
	z-index:10;
}
#fixed_utilities ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	justify-content: space-between;
}
#fixed_utilities ul li, #fixed_utilities .hamburger{
	padding: 10px;
	cursor: pointer;
	transition: .25s ease color, .25s ease background-color;
}
#fixed_utilities .hamburger{
	display: none;
	font-size: 2em;
}
#fixed_utilities ul li:hover, #fixed_utilities .hamburger:hover{
	color: #fff;
	background-color: #000;
}

/* Start Popup */
.popup-closed{
  display: flex;
  visibility: hidden;
  opacity: 0;
}
.popup-open{
  display: flex;
  visibility: visible;
  opacity: 1;
}
.popup svg.fa-times-circle:hover{
  color: #f00;
}
.popup h2{
    font-family: "Francois One", Helvetica, sans-serif;
}
.popup label, .popup input, .popup textarea {
  display: block;
  font-family: sans-serif;
}
.popup input[type='submit']{
  display: block;
  margin-left: auto;
  margin-right: -30px;
  margin-top: 20px;
  border-radius: 10px;
  background-color: #0bb327;
  cursor: pointer;
  color: #fff;
  padding: 10px;
  padding-right: 30px;
  border: none;
  transition: background-color .25s ease;
}
.popup input[type='submit']:hover{
  background-color: #10ce30;
}
.popup-opener{
  position: fixed;
  bottom: 50px;
  right: 0;
  padding: 10px;
  background: #fff;
  color: #000;
  font-size: 1em;
  font-family: "Francois One", Helvetica, sans-serif;
  transition: background .5s ease;
  border: none;
  cursor: pointer;
}
.popup-opener:hover{
  background: linear-gradient(to bottom, #fff 80%, #aaa);
}
.popup-opener .main-button{
  display: none;
}
/* End Popup */

p{
	padding:50px 10px;
	border:solid #55555511;
	font-family:sans-serif;
	font-size: 16px;
	background-color:white;
	text-indent: 22px;
}
p.quote{
	font-size: 2em;
	font-style: italic;
}

.content{
	border-radius: 15px;
    padding: 20px;
    width: 80%;
    margin: 40px auto;
    background: white;
    border: 3px solid #ccc;
}

.sub_footer{
	width:80%;
	height:400px;
	margin:auto;
	background: grey;
}

footer{
	background-color: white;
	width:100%;
	height:50px;
	line-height: 50px;
	font-family: arial;
	text-align: center;
}

.toggleBox{
	height:150px;
	width:200px;
	text-align: center;
	display: none;
	color: white;
	font-family: arial;
	font-size: 25px;
	line-height: 150px;
}

/*Carousel Styles*/
button{
	cursor: pointer;
}

.carousel-container{
	background-color: #ccc;

}

.carousel{
	position: relative;
	height:450px;
}

.carouselImage{
	display: none;
	width:100%;
	height: 100%;
}

.carouselTrackContainer{
	position: relative;
	height:100%;
	background: #ccc;
	overflow: hidden;
}

.carouselTrack{
	padding:0;
	margin:0;
	list-style:none;
	position: relative;
	height:100%;
	transition: transform 250ms ease-in;
}

.carouselSlide{
	position: absolute;
	top:0;
	bottom:0;
	width:100%;
}

.carouselButtons{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 40%;
	z-index: 2;
}

.carouselButtonLeft{
	width: 40%;
	height: 38px;
	margin: 1px 10px;
	border: 0;
}

.carouselButtonRight{
	width: 40%;
	height: 38px;
	margin: 1px 10px;
	border: 0;
}

.carousel > button{
	transition: background-color .5s;
}

.carousel .carouselButtons > button:hover{
	background-color: #fff;
}

.carouselNav{
	transform: translateY(-40px);
	width:100%;
	padding: 11px 0;
	background-color: #cccccccc;

}

.carouselIndicator{
	margin:0 15px;
	border:0;
	border-radius: 50%;
	background:grey;
	height:11px;
	width:11px;
	padding: 0;
	transition: background .5s;
}

.carouselIndicator:hover{
	background: #fff;
}

.carouselIndicator.currentSlide{
	background:black;
}
/*End carousel*/

#address{
	border:solid #55555577;
	width:500px;
	height:100%;
	padding-top: 10px;
	margin-left:40px;
	background-color: white;
}
#mapImage{
	transform: translateY(4px);
	width:500px;
}
.addressLabel{
	font-family: sans-serif;
	margin-left: 5px;
}
.addressValue{
	float:right;
	margin-right: 5px;
}

#contactForm{
	font-family: arial;
	background: white;
	padding:12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contact{
	margin:13px;
	padding: 10px 0;
	font-family: arial;
}
textarea{
	min-height: 100px;
}
.submit{
	cursor: pointer;
	padding: 15px 0;
	color: #fff;
	font-size: 1.5em;
	border: none;
	transition: background-color .5s;
}
.submit:hover{
}

footer p{
	margin: 0;
	font-size: 1em;
	padding: 0;
}

@media only screen and (max-width: 960px){
	header{
		height:120px;
	}
	#logo{
		height:120px;
		width:120px;
	}
	#title{
		position: absolute;
		top:18px;
		transform: translateY(-6px);
		font-size:45px;
	}
	#siteDesc{
		top: 85px;
		font-size: 2em;
	}
}
@media only screen and (max-width: 775px){
	#siteDesc{
		top:90px;
		font-size: 30px;
	}
	.carouselButtons{
		width: unset;
		min-width: 60px;
	}
	.carouselButtonLeft, .carouselButtonRight{
		width: 70%;
	}
}

@media only screen and (max-width: 580px){
	header{
		height: 80px;
	}
	#logo{
		height:80px;
		width:80px;
	}
	#title{
		transform: translate(-25px,-8px);
		font-size:25px;
	}
	#fixed_utilities{
		font-size:13px;
	}
	#fixed_utilities .nav-item{
		display: none;
	}
	#fixed_utilities .hamburger{
		display: block;
	}
	#siteDesc{
		display: none;
	}
	h2{
		font-size: 16px;
	}
	footer h3{
		font-size: 13px;
	}
	#address{
		width:90%;
		margin:auto;
	}
	#mapImage{
		width:100%;
	}
	.contact{
		margin:5px;
	}
}

@media only screen and (max-width: 350px){
	#title{
		transform: translateX(-10px);
	}
	#siteDesc{
		font-size: 21px;
		transform: translate(30px, 10px);
	}
	
}