body{
  background-color:#afe3d0;
}

#face{
  position: relative;
  left:5%;
  top:20px;
  border: solid black;
  border-radius: 9px;
}

#navBar{
  position: absolute;
  right:0px;
  width:500px;
  margin-top: 30px;
  background-color: grey;
  border-radius: 9px;
}
#navBar li{
  display: inline-block;
  padding:10px;
  border:solid black;
  background-color: grey;
  margin:3px;
  border-radius: 9px;
  color:white;
}
#navBar li:hover{
  background-color: red;
  cursor:pointer;
}

.window{
  margin-top: 125px;
}

h3{
  text-indent: 5%;
  padding: 30px;
  margin:4%;
  width:70%;
  border: solid black;
  background-color: white;
  border-radius: 9px;
}

.link{
  width:100px;
  height:100px;
  margin:50px;
}

.projectBox{
  border:solid #8fa7ff;
  border-radius:25px;
  background-color:#9ee2bc;
  font-weight:bold;
  padding:20px;
  margin:4%;
  margin-left:35%;
  width:fit-content;
  text-indent: 0px;
}

@media only screen and (max-width:768px){
  #face{
    width:140px;
  }
  #navBar{
    width:370px;
  }
  #navBar li{
    width:50px;
    font-size: 13px;
  }

}
