body{
  background-color:#afe3d0;
}

#navBar{
  position: absolute;
  margin-left:55%;
  bottom: 280px;
  width:70%;
  background-color: grey;
}
#navBar li{
  display: inline-block;
  padding:4%;
  border:solid black;
  background-color: grey;
  margin:3px;
  border-radius: 9px;
  color:white;
}

h3{
  text-indent: 5%;
  padding-left:10%;
  padding-right:10%;
}

.projectBox{
  border:solid #8fa7ff;
  border-radius:25px;
  background-color:#9ee2bc;
  font-weight:bold;
  padding:10px;
  margin: 4px;
  margin-left:35%;
  width:fit-content;
}
