body{
  background-color:#afe3d0;
}

#face{
  position: relative;
  left:5%;
  top:20px;
  border: solid black;
  border-radius: 9px;
}

#navBar{
  position: absolute;
  margin-left:55%;
  bottom: 280px;
  width:70%;
  background-color: grey;
  border-radius: 9px;
}
#navBar li{
  display: inline-block;
  padding:4%;
  border:solid black;
  background-color: grey;
  margin:3px;
  border-radius: 9px;
  color:white;
}
#navBar li:hover{
  background-color: red;
  cursor:pointer;
}

h3{
  text-indent: 5%;
  padding: 30px;
  margin:4%;
  width:700px;
  border: solid black;
  background-color: white;
  border-radius: 9px;
}

.projectBox{
  border:solid #8fa7ff;
  border-radius:25px;
  background-color:#9ee2bc;
  font-weight:bold;
  padding:10px;
  margin:4%;
  margin-left:35%;
  width:fit-content;
}
